<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
h3{
    color : blue;
    font-family : Times New Roman;
    }
   img{
   height : 250px;
   }
</style>
<h3> DECISION TREE</h3>
 <img src="{{ img_urls[0] }}" alt="ter">
  <img src="{{ img_urls[1] }}" alt="ter">
<br>

<h3> RANDOM FOREST </h3>
 <img src="{{ img_urls[4] }}" alt="ter"> <img src="{{ img_urls[5] }}" alt="ter">
<br>
<h3>Xtreme Boost</h3>
 <img src="{{ img_urls[6] }}" alt="ter"> <img src="{{ img_urls[7] }}" alt="ter">
<h3> ENSEMBLE MODEL</h3>
 <img src="{{ img_urls[2] }}" alt="ter">
  <img src="{{ img_urls[3] }}" alt="ter">
<br>






</body>
</html>