<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
        <h1>Performance evaluation for house overall</h4>

<table border="2px" style="background-color: aqua;">
    <tr>
        <td>
            Machine Learning Algorithm
        </td>
        <td>
            MSE
        </td>
        <td>
            R2
        </td>
        <td>MAE</td>
        <td>RMSE</td>

    </tr>
    <tr>
        <td>Random Forest</td>
        <td>0.5017894403862317</td>
        <td> 0.5540277207376815</td>
        <td>0.34511498902458015</td>
        <td> 0.7083709765272937</td>
    </tr>
    <tr>
        <td>Decision Tree</td>
        <td> 0.5008423721776876</td>
        <td>0.5548694406576069</td>
        <td> 0.3450486837756414</td>
        <td> 0.7077021775985203</td>

    </tr>
    <tr>
        <td>Xgboost</td>
        <td>0.8598231739579484</td>
        <td>0.23582030670586296</td>
        <td>0.521364103645998</td>
        <td>0.927266506435959</td>

    </tr>
    <tr>
        <td>
            Ensemble model
        </td>.
        <td> 0.5008369850764439</td>
        <td>0.5548742285180657</td>
        <td>0.3450420543358679</td>
        <td>0.7076983715372277</td>
    </tr>
</table>
</center>

</body>
</html>